$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$color-primary: rgb(99, 0, 99);
$color-secondary: rgba(146, 37, 146, 0.774);
$color-tertiary: rgb(211, 36, 211);

$gray: rgb(34, 34, 34);



// GRID
$width: 120rem;
$gutter-horizontal: 6rem;


